* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #444;

    border-top: 10px solid #1098ad;
}
nav {
    font-size: 18px;
}

h1, h4 {
    text-transform: uppercase;
}

h1, h2, h3 {
    color: #1098ad
}

h1 {
    font-size: 26px;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}


article {
    padding-bottom: 60px;
}

ul, ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;

}

footer p {
    font-size: 16px;
}

#post-header {
    margin-bottom: 40px;
}

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 60px;
    height: 80px;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    padding: 50px 0;
    width: 500px;
}

.first-ls {
    font-weight: bold;
}

a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}

#post-img {
    width: 100%;
    height: auto;
}

#container {
    width: 800px;
    margin: 0 auto;
}